* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.h1rubrik{
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 75px;
    font-size: 28px;
}

.h2rubrik{
    text-align: center;
    font-family: sans-serif;
    color:rgb(60, 60, 60);
    font-size: 50px;
    position: relative;
    top: -80px;
    left: 150px;
}
.bodyresponsive{
    font-family: 'PT Sans', sans-serif;
    width:100%;
    height:auto;  
}

.section-one{
    display: inline;
    height: auto;
}

.topyoutube{
    max-width: 70%;
    margin: auto;
    text-align: right; 
}

.flex-section{
    margin-top: 140px;
}

.flex-container {
    height: 1000%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-left: 100px;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

.flex-container2{
    height: 1000%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-direction: row;
}

.flex-item-text2 > p{
    margin-top: 25px;
    padding-top: 150px;
}

.flex-item-text2{
    width: 50%;
    padding-left: 30px;
}

.flex-item-image{
    width: 50%;
}

.flex-item-text > p {
    margin-top: 25px;
}

.flex-item-text{
    width: 50%;
    padding-left: 30px;
    padding-top: 180px;
}

.responsive{
    width:100%;
    height:inherit; 
    display: block;
}

.black{
    max-width: 100%;
    height: 600px;
    background-color: black;
}

.boring-text{
    max-width: 60%;
    margin: auto;
}

.boring-text > p {
    margin-bottom: 50px;
}

.totw{
    width: 100%;
    height: 600px;
    padding-bottom: 0px;
    padding-top: 200px;
    background-image: url(../images/Q1_newsletter-02.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.totw-grid{
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-rows: 150px auto;
}

.totw-text{
    text-align: center;
    font-size: 28px;
    color: grey;
}

.totw-header{
    font-size: 60px;
    font-family: monsterrat;
    text-align: center;
}

footer{
    background: black;
}

footer > p {
    color: whitesmoke;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto 10px auto;
  grid-gap: 10px;
  padding: 10px;
  max-width: 60%;
  margin: auto;
}

.grid-container > div {
  padding: 20px 10px;
  color: whitesmoke;
}

.grid-header{
    grid-column: 1 / 2 span;
    padding-left: 0px;
}

.grid-welookforward{
    text-align: right;
}

.grid-pubteam{
    grid-column: 1 / 2 span;
    text-align: right;
}

.grid-pubteam > p {
    /*margin-right: 150px;*/
}